<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-slack"></ion-icon>
                        </span>
                        <span class="title">Bee Studio</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Trang chủ</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/users">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Người dùng</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/photos">
                        <span class="icon">
                            <ion-icon name="image-outline"></ion-icon>
                        </span>
                        <span class="title">Ảnh in</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/dress">
                        <span class="icon">
                            <ion-icon name="shirt-outline"></ion-icon>
                        </span>
                        <span class="title">Áo cưới</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="images-outline"></ion-icon>
                        </span>
                        <span class="title">Album ảnh</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/news">
                        <span class="icon">
                            <ion-icon name="newspaper-outline"></ion-icon>
                        </span>
                        <span class="title">Tin tức</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/booking">
                        <span class="icon">
                            <ion-icon name="calendar-number-outline"></ion-icon>
                        </span>
                        <span class="title">Đặt lịch</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="videocam-outline"></ion-icon>
                        </span>
                        <span class="title">Video</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                    </label>
                </div>

                <div class="user">
                    <img src="https://glints.com/vn/blog/wp-content/uploads/2022/05/customer-service-la%CC%80-gi%CC%80.jpg"
                        alt="">
                </div>
            </div>
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h1>Quản lý áo cưới</h1>
                        <a href="#" class="btn" id="btn_add">Thêm</a>
                    </div>
                    <div class="content">
                        <table>
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên</th>
                                    <th>Giá bán</th>
                                    <th>Giá thuê</th>
                                    <th>Hình ảnh</th>
                                    <th>Mô tả</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>

                            <tbody id="app">

                            </tbody>
                        </table>
                        <div class="pagination is-centered" role="navigation" aria-label="pagination">
                            {{!-- <a class="pagination-previous">Previous</a>
                            <a class="pagination-next">Next</a> --}}
                            <ul class="pagination-list">
                                <li>
                                    <a class="pagination-link is-current" id="page_1" aria-label="Goto page 1">1</a>
                                </li>
                                <li>
                                    <a class="pagination-link " id="page_2" aria-label="Goto page 2">2</a>
                                </li>
                                <li>
                                    <a class="pagination-link" id="page_3" aria-label="Goto page 3">3</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");

        toggle.onclick = function () {
            navigation.classList.toggle("active");
            main.classList.toggle("active");
        };

        const url = "http://localhost:3000/dress/data"
        let body = document.querySelector("#app")
        const handleCallData = () => {
            fetch(url).then(res => res.json()).then(renderHtml).catch(err => console.log(err))
        }

        const renderHtml = (data) => {
            let htmls = data.map((item, index) => {
                return `
                    <tr class = "text-center">
                            <td>${index + 1}</td>
                            <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;">
                            ${item.name}
                            </td>
                            <td><span>${item.price.toLocaleString()} VND</span></td>
                            <td>${item.rental_price.toLocaleString()} VND</td>
                            <td>
                            <img src="${item.image[0]}" alt="" style="width: 70px; height: 70px; border-radius: 10px;">
                            </td>
                            <td>${item.describe}</td>
                            <td>
                                <button class="btn btn-danger btn_delete" data-id="${item._id}">Xóa</button>
                                <button class="btn btn-primary btn_update" data-id="${item._id}">Sửa</button>
                            </td>
                        </tr>
                        `
            })
            body.innerHTML = htmls.join('')
            let btn_delete = document.querySelectorAll('.btn_delete');
            for (const btn of btn_delete) {
                btn.addEventListener('click', () => {
                    const id = btn.dataset.id
                    return confirm('Bạn có chắc chắn muốn xóa sản phẩm này không ?') ? handelDeleteData(id) : ""
                })
            }
        }
        const handelDeleteData = (id) => {
            fetch(`${url}/${id}`, {
                method: 'DELETE'
            }).then(res => res.json()).then(() => {
                alert("Xóa thành công");
                window.location.reload();
            }).catch(err => console.log(err))
        }
        handleCallData()
        let btn_add = document.querySelector('#btn_add')
        let content = document.querySelector('.content')
        btn_add.addEventListener('click', () => {
            content.innerHTML = `
                    <form action="/dress/data" style = "margin-top: 10px;" enctype="multipart/form-data" method="POST">                    
                        <div class="field">
                                <label class="label">Tên dịch vụ</label>
                            <div class="control">
                                <input class="input is-rounded" type="text" name = "name" placeholder="Rounded input" />
                            </div>
                        </div> 

                        <div class="field">
                        <label class="label">Giá bán :</label>
                            <div class="control">
                                <input class="input is-rounded" type="number" name="price" placeholder="Rounded input" />
                            </div>
                            </div>

                            <div class="field">
                            <label class="label">Giá thuê :</label>
                            <div class="control">
                                <input class="input is-rounded" type="number" name="rental_price" placeholder="Rounded input" />
                            </div>
                            </div>

                            <div class="field">
                            <label class="label">Số lượng :</label>
                            <div class="control">
                                <input class="input is-rounded" type="number" name="quantity" placeholder="Rounded input" />
                            </div>
                            </div>

                            <div class="field">
                            <label class="label">Hình ảnh sản phẩm :</label>
                            <div class="control">
                                <input class="input is-rounded" type="file" name="image" placeholder="Rounded input" multiple/>
                            </div>
                            </div>

                            <div class="field">
                            <label class="label">Mô tả sản phẩm :</label>
                            <div class="control">
                                <textarea class="textarea" name = "describe" placeholder="Textarea"></textarea>
                            </div>
                            </div>

                            <div class="field">
                            <label class="label">Màu sắc :</label>
                            <div class="control">
                                <input class="input is-rounded" type="text" name="color" placeholder="Rounded input" />
                            </div>
                            </div>

                            <div class="field">
                            <label class="label">Kiểu dáng</label>
                            <div class="control">
                                <input class="input is-rounded" type="text" name="style" placeholder="Rounded input" />
                            </div>
                            </div>

                            <div class="field">
                            <label class="label">Chất liệu</label>
                            <div class="control">
                                <input class="input is-rounded" type="text" name="material" placeholder="Rounded input" />
                            </div>
                            </div>

                            <div class="field">
                            <label class="label">Kích cỡ</label>
                            <div class="control">
                                <input class="input is-rounded" type="text" name="size" placeholder="Rounded input" />
                            </div>
                            </div>

                            <div style = "text-align : center;"><button class = "button is-primary" type="submit" id='btn_submit'>Thêm</button></div>
                        </form>
                    `
        })
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>