<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang chủ</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="logo-slack"></ion-icon>
            </span>
            <span class="title">Bee Studio</span>
          </a>
        </li>

        <li>
          <a href="http://localhost:3000/">
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="title">Trang chủ</span>
          </a>
        </li>

        <li>
          <a href="http://localhost:3000/users">
            <span class="icon">
              <ion-icon name="people-outline"></ion-icon>
            </span>
            <span class="title">Người dùng</span>
          </a>
        </li>

        <li>
          <a href="http://localhost:3000/photos">
            <span class="icon">
              <ion-icon name="image-outline"></ion-icon>
            </span>
            <span class="title">Ảnh in</span>
          </a>
        </li>

        <li>
          <a href="http://localhost:3000/dress">
            <span class="icon">
              <ion-icon name="shirt-outline"></ion-icon>
            </span>
            <span class="title">Áo cưới</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="images-outline"></ion-icon>
            </span>
            <span class="title">Album ảnh</span>
          </a>
        </li>

        <li>
          <a href="http://localhost:3000/news">
            <span class="icon">
              <ion-icon name="newspaper-outline"></ion-icon>
            </span>
            <span class="title">Tin tức</span>
          </a>
        </li>

        <li>
          <a href="http://localhost:3000/booking">
            <span class="icon">
              <ion-icon name="calendar-number-outline"></ion-icon>
            </span>
            <span class="title">Đặt lịch</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="videocam-outline"></ion-icon>
            </span>
            <span class="title">Video</span>
          </a>
        </li>

        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="log-out-outline"></ion-icon>
            </span>
            <span class="title">Sign Out</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>

        <div class="search">
          <label>
            <input type="text" placeholder="Search here">
          </label>
        </div>

        <div class="user">
          <img src="https://glints.com/vn/blog/wp-content/uploads/2022/05/customer-service-la%CC%80-gi%CC%80.jpg"
            alt="">
        </div>
      </div>
      <div class="details">
        <div class="recentOrders">
          <div class="cardHeader">
            <h1>Quản lý Dịch Vụ</h1>
            <a href="#" class="btn" id="btn_add">Thêm</a>
          </div>
          <div class="content">
            <table class="">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên dịch vụ</th>
                  <th>Giá dịch vụ</th>
                  <th>Hình ảnh</th>
                  <th>Mô tả</th>
                  <th>Hành động</th>
                </tr>
              </thead>

              <tbody id="app">

              </tbody>
            </table>
          </div>
          <div class="pagination is-centered" role="navigation" aria-label="pagination">
            {{!-- <a class="pagination-previous">Previous</a>
            <a class="pagination-next">Next</a> --}}
            <ul class="pagination-list">
              <li>
                <a class="pagination-link is-current" id="page_1" aria-label="Goto page 1">1</a>
              </li>
              <li>
                <a class="pagination-link " id="page_2" aria-label="Goto page 2">2</a>
              </li>
              <li>
                <a class="pagination-link" id="page_3" aria-label="Goto page 3">3</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
    let toggle = document.querySelector(".toggle");
    let navigation = document.querySelector(".navigation");
    let main = document.querySelector(".main");

    toggle.onclick = function () {
      navigation.classList.toggle("active");
      main.classList.toggle("active");
    };

    let body = document.querySelector('#app')
    let page_1 = document.querySelector('#page_1')
    let page_2 = document.querySelector('#page_2')
    let page_3 = document.querySelector('#page_3')
    let page = 1;
    page_1.addEventListener('click', () => {
      page = 1
      page_1.classList.add('is-current');
      page_2.classList.remove('is-current')
      page_3.classList.remove('is-current')
      fetch(`${url}/page?page=${page}&limit=1`)
        .then((res) => res.json())
        .then((data) => renderData(data))
        .catch((err) => console.log(err));
      console.log(page)
    })
    page_2.addEventListener('click', () => {
      page_2.classList.add('is-current');
      page_1.classList.remove('is-current')
      page_3.classList.remove('is-current')
      page = 2
      fetch(`${url}/page?page=${page}&limit=1`)
        .then((res) => res.json())
        .then((data) => renderData(data))
        .catch((err) => console.log(err));
      console.log(page)
    })
    page_3.addEventListener('click', () => {
      page_3.classList.add('is-current');
      page_1.classList.remove('is-current')
      page_2.classList.remove('is-current')
      page = 3
      fetch(`${url}/page?page=${page}&limit=1`)
        .then((res) => res.json())
        .then((data) => renderData(data))
        .catch((err) => console.log(err));
      console.log(page)
    })
    let content = document.querySelector('.content')
    let btn_add = document.querySelector('#btn_add')
    btn_add.addEventListener('click', () => {
      content.innerHTML = `
                  <form action="/service" style = "margin-top: 10px;" enctype="multipart/form-data" method="POST">                    
                    <div class="field">
                      <label class="label">Tên dịch vụ</label>
                      <div class="control">
                        <input class="input is-rounded" type="text" name = "name" placeholder="Rounded input" />
                      </div>
                    </div> 

                    <div class="field">
                      <label class="label">Giá dịch vụ</label>
                      <div class="control">
                        <input class="input is-rounded" type="text" name="price" placeholder="Rounded input" />
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Hình ảnh sản phẩm :</label>
                      <div class="control">
                        <input class="input is-rounded" type="file" name="image" placeholder="Rounded input" />
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Mô tả sản phẩm :</label>
                      <div class="control">
                        <textarea class="textarea" name = "describe" placeholder="Textarea"></textarea>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Địa chỉ :</label>
                      <div class="control">
                        <input class="input is-rounded" type="text" name="location" placeholder="Rounded input" />
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Thời gian</label>
                      <div class="control">
                        <input class="input is-rounded" type="text" name="time" placeholder="Rounded input" />
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Tiện ích đi kèm :</label>
                      <div class="control">
                        <textarea class="textarea" name = "utilities" placeholder="Textarea"></textarea>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">Kết quả nhận được :</label>
                      <div class="control">
                        <textarea class="textarea" name = "result" placeholder="Textarea"></textarea>
                      </div>
                    </div>
                    <div style = "text-align : center;"><button class = "button is-primary" type="submit" id='btn_submit'>Thêm</button></div>
                  </form>
            `
    })
    let url = "http://localhost:3000/service";
    const handleCallData = () => {
      fetch(url)
        .then((res) => res.json())
        .then((data) => renderData(data))
        .catch((err) => console.log(err));
    };
    handleCallData();
    const renderData = (data) => {
      let html = data.map((item, index) => {
        return `
            <tr>
                  <td style="max-width: 50px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;">${index + 1}</td>
                      <td style="max-width: 100px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;">
                    <span>
                      ${item.name}
                    </span>
                  </td>
                  <td>${item.price} VND</td>
                  <td style = "text-align: center">
                  <img src="${item.image[0]}" alt="" style="width: 70px; height: 70px; border-radius: 10px;">
                    </td>
                  <td style = "max-width: 300px;
                               overflow: hidden;
                               text-overflow: ellipsis;
                               white-space: nowrap;">${item.describe}</td>
                  <td>
                    <button class="btn-danger btn_delete" data-id="${item._id
          }">Xóa</button>
                    <button class="btn-primary btn_update" data-id="${item._id
          }">Sửa</button>
                    </td>
            </tr>`;
      });
      body.innerHTML = html.join("");
      //Delete
      let btn_delete = document.querySelectorAll(".btn_delete");
      for (const btn of btn_delete) {
        btn.addEventListener("click", () => {
          const id = btn.dataset.id;
          return confirm("Bạn có chắc chắn muốn xóa sản phẩm này không ?")
            ? handleDeleteData(id)
            : "";
        });
      }
      //Update
      let btn_update = document.querySelectorAll(".btn_update");
      for (const btn of btn_update) {
        btn.addEventListener("click", () => {
          const id = btn.dataset.id;
          fetch(`${url}/${id}`).then(res => res.json()).then((data) => {
            content.innerHTML = `
                    <form id = "form-service" style="margin-top: 10px;" enctype="multipart/form-data" method="PUT">
                      <div class="field">
                          <label class="label">Tên dịch vụ</label>
                          <div class="control">
                              <input class="input is-rounded" type="text" value="${data.name}" name="name" placeholder="Tên dịch vụ" />
                          </div>
                      </div>

                      <div class="field">
                          <label class="label">Giá dịch vụ</label>
                          <div class="control">
                              <input class="input is-rounded" type="text" value="${data.price}" name="price" placeholder="Giá dịch vụ" />
                          </div>
                      </div>

                      <div class="field">
                          <label class="label">Hình ảnh sản phẩm</label>
                          <div class="control">
                              <input class="input is-rounded" type="text" value="${data.image}" name="image" placeholder="Đường dẫn ảnh" />
                          </div>
                      </div>

                      <div class="field">
                          <label class="label">Mô tả sản phẩm</label>
                          <div class="control">
                              <textarea class="textarea" name="describe" placeholder="Mô tả sản phẩm">${data.describe}</textarea>
                          </div>
                      </div>

                      <div class="field">
                          <label class="label">Địa chỉ</label>
                          <div class="control">
                              <input class="input is-rounded" type="text" name="location" value="${data.location}" placeholder="Địa chỉ" />
                          </div>
                      </div>

                      <div class="field">
                          <label class="label">Thời gian</label>
                          <div class="control">
                              <input class="input is-rounded" type="text" name="time" value="${data.time}" placeholder="Thời gian" />
                          </div>
                      </div>

                      <div class="field">
                          <label class="label">Tiện ích đi kèm</label>
                          <div class="control">
                              <textarea class="textarea" name="utilities" placeholder="Tiện ích đi kèm">${data.utilities}</textarea>
                          </div>
                      </div>

                      <div class="field">
                          <label class="label">Kết quả nhận được</label>
                          <div class="control">
                              <textarea class="textarea" name="result" placeholder="Kết quả nhận được">${data.result}</textarea>
                          </div>
                      </div>

                      <div style="text-align: center;">
                          <button class="button is-primary" type="submit" id="btn_submit">Sửa</button>
                      </div>
                  </form>
            `
            const form = document.getElementById('form-service');
            form.addEventListener('submit', function (event) {
              // Prevent the default form submission behavior
              event.preventDefault();

              const formData = new FormData(form);

              const serviceName = formData.get('name');
              const servicePrice = formData.get('price');
              const serviceImage = formData.get('image');
              const serviceDescription = formData.get('describe');
              const serviceLocation = formData.get('location');
              const serviceTime = formData.get('time');
              const serviceUtilities = formData.get('utilities');
              const serviceResult = formData.get('result');

              const service = {
                name: serviceName,
                price: servicePrice,
                image: serviceImage,
                describe: serviceDescription,
                location: serviceLocation,
                time: serviceTime,
                utilities: [serviceUtilities],
                result: [serviceResult]
              }
              console.log(service)

              fetch(`${url}/${data._id}`, {
                method: 'PUT',
                headers: {
                  "Content-type": "application/json"
                },
                body: JSON.stringify(service)
              }).then(res => res.json()).then((data) => {
                alert("Sửa thành công")
                window.location.reload()
              }).catch(err => console.log(err))
            });
          }).catch(err => console.log(err))
        });
      }
    };
    const handleDeleteData = (id) => {
      fetch(`${url}/${id}`, {
        method: "DELETE",
      })
        .then((res) => res.json())
        .then((data) => {
          alert("Xóa thành công");
          window.location.reload();
        })
        .catch((err) => console.log(err));
    };
  </script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>