<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Admin Dashboard</title>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Custom CSS -->
    <style>
      body { font-family: Arial, Helvetica, sans-serif;
      background-color: #f8f9fa; margin: 0; } #wrapper { display: flex; }
      #sidebar { height: auto; background-color: #263544; padding-top: 20px; }
      #content { flex: 1; transition: margin-left 0.5s; max-height: 100vh;
      overflow-y: auto; } @media (max-width: 768px) { #sidebar { margin-left:
      -250px; } #content { margin-left: 0; } } a { color: white; } .nav-link {
        font-size: 15px;
      color: white !important; /* Sử dụng !important để ghi đè các giá trị màu
      sắc khác nếu có */ } .nav-item:hover { background-color: #1e2a30; } .title
      { font-weight: bold;font-size: 20px; color: white; } .fa-custom-color {
      color: white; /* Màu đỏ */ } .fa-custom-size { font-size: 1.2rem; /* Kích
      thước 1.5rem (có thể điều chỉnh theo nhu cầu) */ }
    </style>
  </head>

  <body>
    <!-- Sidebar -->
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar">
        <div class="text-center p-2">
          <img src="https://ap.poly.edu.vn/images/logo.png" alt="" />
        </div>
        <hr class="bg-light" />
        <div class="sidebar-sticky p-3">
          <span class="title">Menu</span>
          <li class="nav-item d-flex mx-2 align-items-center p-1">
            <i class="fa-solid fa-house fa-custom-color fa-custom-size"></i>
            <a class="nav-link" href="#"> Trang Chủ </a>
          </li>
          <span class="title">Quản lý</span>
          <ul class="nav flex-column">
            <li class="nav-item d-flex mx-2 align-items-center p-1">
              <i class="fa-brands fa-servicestack fa-custom-color fa-custom-size"></i>
              <a class="nav-link" href="#">Quản lý dịch vụ</a>
            </li>
            <li class="nav-item d-flex mx-2 align-items-center p-1">
              <i class="fa-solid fa-user fa-custom-color fa-custom-size"></i>
              <a class="nav-link" href="http://localhost:3000/users">Quản lý người dùng</a>
            </li>
            <li class="nav-item d-flex mx-2 align-items-center p-1">
              <i class="fa-solid fa-bookmark fa-custom-color fa-custom-size"></i>
              <a class="nav-link" href="#">Quản lý đặt lịch</a>
            </li>
            <li class="nav-item d-flex mx-2 align-items-center p-1">
              <i class="fa-solid fa-person-dress fa-custom-color fa-custom-size"></i>
              <a class="nav-link" href="#">Quản lý áo cưới</a>
            </li>
            <li class="nav-item d-flex mx-2 align-items-center p-1">
              <i class="fa-solid fa-newspaper fa-custom-color fa-custom-size"></i>
              <a class="nav-link" href="#">Quản lý tin tức</a>
            </li>
            <li class="nav-item d-flex mx-2 align-items-center p-1">
              <i class="fa-solid fa-image fa-custom-color fa-custom-size"></i>
              <a class="nav-link" href="#">Quản lý Ulbum</a>
            </li>
            <li class="nav-item d-flex mx-2 align-items-center p-1">
              <i class="fa-solid fa-video fa-custom-color fa-custom-size"></i>
              <a class="nav-link" href="#">Quản lý Video</a>
            </li>
          </ul>
          <span class="title">Thống kê</span>
          <ul class="nav flex-column">
            <li class="nav-item d-flex mx-2 align-items-center p-1">
            <i class="fab fa-servicestack fa-custom-color fa-custom-size"></i>
            <a class="nav-link" href="#">Thống kê User</a>
          </li>
            <li class="nav-item d-flex mx-2 align-items-center p-1">
              <i class="fa-brands fa-servicestack fa-custom-color fa-custom-size"></i>
              <a class="nav-link" href="#">Thống kê doanh thu</a>
            </li>
            <li class="nav-item d-flex mx-2 align-items-center p-1">
              <i class="fa-brands fa-servicestack fa-custom-color fa-custom-size"></i>
              <a class="nav-link" href="#">Thống kê bài viết</a>
            </li>
            <li class="nav-item d-flex mx-2 align-items-center p-1">
              <i class="fa-brands fa-servicestack fa-custom-color fa-custom-size"></i>
              <a class="nav-link" href="#">Thống kê dịch vụ</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /#sidebar -->

      <!-- Page Content -->
      <div id="content" class="w-100">
        <div class="w-100">
          <nav class="navbar bg-light border-bottom border-body shadow p-2">
            <div class="container-fluid">
              <a class="navbar-brand">Navbar</a>
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button
                  class="btn btn-outline-success"
                  type="submit"
                >Search</button>
              </form>
            </div>
          </nav>
        </div>
        <div class="p-3 content">
            <div class="d-flex justify-content-between mx-1">
              <h2>Dịch vụ studio</h2>
              <button class="btn btn-primary" id="btn_add">Thêm mới</button>
            </div>
          <table
            class="table table-bordered mt-2 table-hover table-striped table-responsive">
            <thead class="thead-dark">
              <th>STT</th>
              <th>Tên dịch vụ</th>
              <th>Giá dịch vụ</th>
              <th>Hình ảnh</th>
              <th>Mô tả</th>
              <th>Hành động</th>
            </thead>
            
            <tbody id="app"></tbody>
          </table>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
          <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            
          </div>
        </div>
        </div>
      </div>
      <!-- /#content -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap JS (Popper.js và jQuery là tùy chọn) -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
    ></script>
     <script>
      let body = document.querySelector("#app");
      let content = document.querySelector(".content");
      let btn_add = document.querySelector("#btn_add");
      let url = "http://localhost:3000/service";
      btn_add.addEventListener("click", () => {
        content.innerHTML = `
              <div class="w-75 m-auto">
                <div class = "text-center">
                  <h3>Thêm dịch vụ</h3>
                  </div>
            <form>
              <div class="mb-3">
                <label for="name" class="form-label">Product Name:</label>
                <input type="text" class="form-control" id="pro_name" placeholder="Enter product name" name="name">
              </div>
              <div class="mb-3">
                <label for="price" class="form-label">Price:</label>
                <input type="number" class="form-control" id="pro_price" placeholder="Enter price" name="price">
              </div>
              <div class="mb-3">
                <label for="image" class="form-label">Image:</label>
                <input type="file" class="form-control" id="image" name="image" accept="image/*">
              </div>
              <div class="mb-3">
                <img id="preview-image" src="#" alt="Preview Image" style="max-width: 100%; height: auto; display: none;">
              </div>
              <div class="mb-3">
                <label for="describe" class="form-label">Description:</label>
                <textarea class="form-control" id="pro_describe" rows="3" placeholder="Enter description" name="describe"></textarea>
              </div>
              <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" class="form-control" id="pro_location" placeholder="Enter location" name="location">
              </div>
              <div class="mb-3">
                <label for="time" class="form-label">Time:</label>
                <input type="text" class="form-control" id="pro_time" placeholder="Enter time" name="time">
              </div>
              <div class="mb-3">
                <label for="utilities" class="form-label">Utilities:</label>
                <div id="utilities-container">
                  <div class="added-field">
                    <input type="text" class="form-control" id = "pro_utilities" placeholder="Enter utility">
                  </div>
                </div>
                <button type="button" class="btn btn-primary mt-2" id="add-utility">Add Utility</button>
              </div>
              <div class="mb-3">
                <label for="result" class="form-label">Result:</label>
                <div id="utilities-container">
                  <div class="added-field">
                    <input type="text" class="form-control" id = "pro_result" placeholder="Enter utility">
                  </div>
                </div>
                <button type="button" class="btn btn-primary mt-2" id="add-result">Add Result</button>
              </div>
              <div class = "text-center">
                <button type="submit" class="btn btn-primary" id = "btn_submit">Submit</button>
                </div>
            </form>
        </div>`;
        const pro_name = document.querySelector("#pro_name");
        const pro_price = document.querySelector("#pro_price");
        const pro_describe = document.querySelector("#pro_describe");
        const pro_location = document.querySelector("#pro_location");
        const pro_time = document.querySelector("#pro_time");
        const pro_result = document.querySelector("#pro_result");
        const pro_utilities = document.querySelector("#pro_utilities");
        const add_result = document.querySelector("#add-result");
        const add_utility = document.querySelector("#add-utility");
        const btn_submit = document.querySelector("#btn_submit");
        const results = [];
        const utilitys = [];

        add_result.addEventListener("click", () => {
          const result = pro_result.value;
          if (!results.includes(result)) {
            results.push(result);
            pro_result.value = "";
            pro_result.focus();
          }
        });

        add_utility.addEventListener("click", () => {
          const utility = pro_utilities.value;
          if (!utilitys.includes(utility)) {
            utilitys.push(utility);
            pro_utilities.value = "";
            pro_utilities.focus();
          }
        });

        btn_submit.addEventListener("click", (e) => {
          e.preventDefault();

          const utility = pro_utilities.value;
          if (!utilitys.includes(utility)) {
            utilitys.push(utility);
          }

          const result = pro_result.value;
          if (!results.includes(result)) {
            results.push(result);
          }

          const Options = utilitys.filter((item) => {
            return item != "";
          });
          const arrResults = results.filter((item) => {
            return item != "";
          });

          const service = {
            name: pro_name.value,
            price: pro_price.value,
            image:
              "https://aocuoimailisa.vn/wp-content/uploads/2023/12/tron-goi-ngay-cuoi-trang-diem-co-dau-tai-tiem-hoac-tai-nha.jpg",
            location: pro_location.value,
            describe: pro_describe.value,
            time: pro_time.value,
            utilities: Options,
            result: arrResults,
            isFavorite: false,
          };

          fetch(url, {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
            body: JSON.stringify(service),
          })
            .then((res) => res.json())
            .then(() => {
              alert("Thêm thành công");
              window.location.reload();
            })
            .catch((err) => console.log(err));
        });
        document
          .getElementById("image")
          .addEventListener("change", function () {
            var previewImage = document.getElementById("preview-image");
            var file = this.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
              var imageUrl = e.target.result;
              previewImage.src = imageUrl;
              previewImage.style.display = "block";
              console.log(imageUrl);
            };

            reader.readAsDataURL(file);
          });
      });

      const handleCallData = () => {
        fetch(url)
          .then((res) => res.json())
          .then((data) => renderData(data))
          .catch((err) => console.log(err));
      };
      handleCallData();
      const renderData = (data) => {
        let html = data.map((item, index) => {
          return `
            <tr>
                  <td>${index + 1}</td>
                        <td style="max-width: 130px; overflow: hidden; text-overflow: ellipsis;white-space: nowrap;">
                    <span class="info" 
                          data-bs-toggle="offcanvas" 
                          data-bs-target="#offcanvasRight" 
                          aria-controls="offcanvasRight" 
                          data-id="${item._id}">
                      ${item.name}
                    </span>
                  </td>
                  <td>${item.price} VND</td>
                  <td>
                  <img src="${
item.image}" alt="" style="width: 70px; height: 70px; border-radius: 10px;">
                    </td>
                  <td style = "max-width: 400px;
                               overflow: hidden;
                               text-overflow: ellipsis;
                               white-space: nowrap;">${item.describe}</td>
                  <td  style = "max-width: 110px;
                               overflow: hidden;
                               text-align : center;
                               text-overflow: ellipsis;
                               white-space: wrap;">
                    <button class="btn btn-danger btn_delete" data-id="${
                      item._id
                    }">Xóa</button> |
                    <button class="btn btn-primary btn_update" data-id="${
                      item._id
                    }">Sửa</button>
                    </td>
            </tr>`;
        });
        body.innerHTML = html.join("");
        //Delete
        let btn_delete = document.querySelectorAll(".btn_delete");
        for (const btn of btn_delete) {
          btn.addEventListener("click", () => {
            const id = btn.dataset.id;
            return confirm("Bạn có chắc chắn muốn xóa sản phẩm này không ?")
              ? handleDeleteData(id)
              : "";
          });
        }
        //Info product
        let btn_info = document.querySelectorAll('.info')
        let body_right = document.querySelector('.offcanvas-body');
        for(const btn of btn_info) {
          btn.addEventListener('click',() => {
            const id = btn.dataset.id;
            fetch(`${url}/${id}`).then(res => res.json()).then((data) => {
              body_right.innerHTML = `
                <div class="text-center">
                  <h4 class="mb-4">Thông tin chi tiết sản phẩm</h4>
                  <div class="w-100 mt-4 text-start">
                    <div class = "d-flex">
                      <img src="${data.image}" alt="${data.name}" class="rounded mx-2" style="width: 160px; height: 160px" />
                      <div>
                        <div>
                          <span style="color: #95a5a6;font-size : 14px">Name</span>
                          <p class="mb-3">${data.name}</p>
                        </div>
                        <div>
                          <span style="color: #95a5a6;font-size : 14px">Price</span>
                          <p>${data.price} VND</p>
                        </div>
                      </div>
                    </div>
                    <p class = "mt-1">Mô tả: ${data.describe}</p>
                    <p>Địa điểm: ${data.location}</p>
                    <p>Thời gian: ${data.time}</p>
                    <p>Tiện tích:<br> ${data.utilities.map((i, index) => `${index + 1} : ${i}  <br>`).join('')}</p>
                    <p>Kết quả:<br> ${data.result.map((i, index) => `${index + 1} : ${i}  <br>`).join('')}</p>
                </div>
                <button class="btn btn-danger btn_delete">Xóa</button> |
                    <button class="btn btn-primary btn_update">Sửa</button>
                </div>`
            }).catch(er => console.log(er))
         })
        }
        //Update
        let btn_update = document.querySelectorAll(".btn_update");
        for (const btn of btn_update) {
          btn.addEventListener("click", () => {
            const id = btn.dataset.id;
            fetch(`${url}/${id}`)
              .then((res) => res.json())
              .then((data) => {
                content.innerHTML = `
                      <div class="w-75 m-auto">
                        <div class = "text-center">
                          <h3>Sửa dịch vụ</h3>
                          </div>
                    <form>
                      <div class="mb-3">
                        <label for="name" class="form-label">Product Name:</label>
                        <input type="text" class="form-control" id="pro_name" value = "${data.name}" placeholder="Enter product name" name="name">
                      </div>
                      <div class="mb-3">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" class="form-control" id="pro_price" value = "${data.price}" placeholder="Enter price" name="price">
                      </div>
                      <div class="mb-3">
                        <label for="image" class="form-label">Image:</label>
                        <input type="file" class="form-control" id="image" name="image" accept="image/*">
                      </div>
                      <div class="mb-3 w-100 text-center">
                        <img id="preview-image" src="${data.image}" alt="Preview Image" style="max-width: 200; height: auto; display: block;">
                      </div>
                      <div class="mb-3">
                      <label for="describe" class="form-label">Description:</label>
                      <textarea class="form-control" id="pro_describe" rows="3" placeholder="Enter description" name="describe">${data.describe}</textarea>
                    </div>
                      <div class="mb-3">
                        <label for="location" class="form-label">Location:</label>
                        <input type="text" class="form-control" id="pro_location" value = "${data.location}" placeholder="Enter location" name="location">
                      </div>
                      <div class="mb-3">
                        <label for="time" class="form-label">Time:</label>
                        <input type="text" class="form-control" id="pro_time" value = "${data.time}" placeholder="Enter time" name="time">
                      </div>
                      <div class="mb-3">
                        <label for="utilities" class="form-label">Utilities:</label>
                        <div id="utilities-container">
                        <div class="added-field">
                          <input type="text" class="form-control" id="pro_utilities" value="${data.utilities}" placeholder="Enter utility">
                        </div>
                      </div>
                      </div>
                      <div class="mb-3">
                        <label for="result" class="form-label">Result:</label>
                        <div id="utilities-container">
                          <div class="added-field">
                            <input type="text" class="form-control" id = "pro_result" value = "${data.result}" placeholder="Enter utility">
                          </div>
                        </div>
                      </div>
                      <div class = "text-center">
                        <button type="submit" class="btn btn-primary" id = "btn_submit">Submit</button>
                        </div>
                    </form>
                </div>`;
                const pro_name = document.querySelector("#pro_name");
                const pro_price = document.querySelector("#pro_price");
                const pro_describe = document.querySelector("#pro_describe");
                const pro_location = document.querySelector("#pro_location");
                const pro_time = document.querySelector("#pro_time");
                const pro_result = document.querySelector("#pro_result");
                const pro_utilities = document.querySelector("#pro_utilities");
                const add_result = document.querySelector("#add-result");
                const add_utility = document.querySelector("#add-utility");
                const btn_submit = document.querySelector("#btn_submit");
                const results = [...data.result];
                const utilitys = [...data.utilities];
                console.log(results);

                btn_submit.addEventListener("click", (e) => {
                  e.preventDefault();

                  const utility = pro_utilities.value.split(",");
                  const mergedArray = utilitys.concat(utility);
                  const uniqueValues = new Set(mergedArray);
                  const resultArray = [...uniqueValues];

                  const result = pro_result.value.split(",");
                  const mergedArrayResult = results.concat(result);
                  const uniqueValuesResult = new Set(mergedArray);
                  const resultArrayResult = [...uniqueValuesResult];

                  const Options = resultArray.filter((item) => {
                    return item != "";
                  });
                  const arrResults = resultArrayResult.filter((item) => {
                    return item != "";
                  });

                  const service = {
                    name: pro_name.value,
                    price: pro_price.value,
                    image:
                      "https://aocuoimailisa.vn/wp-content/uploads/2023/12/tron-goi-ngay-cuoi-trang-diem-co-dau-tai-tiem-hoac-tai-nha.jpg",
                    location: pro_location.value,
                    describe: pro_describe.value,
                    time: pro_time.value,
                    utilities: Options,
                    result: arrResults,
                    isFavorite: false,
                  };
                  fetch(`${url}/${data._id}`, {
                    method: "PUT",
                    headers: {
                      Accept: "application/json",
                      "Content-Type": "application/json",
                    },
                    body: JSON.stringify(service),
                  })
                    .then((res) => res.json())
                    .then(() => {
                      alert("Sửa thành công");
                      window.location.reload();
                    })
                    .catch((err) => console.log(err));
                });

                document
                  .getElementById("image")
                  .addEventListener("change", function () {
                    var previewImage = document.getElementById("preview-image");
                    var file = this.files[0];
                    var reader = new FileReader();

                    reader.onload = function (e) {
                      var imageUrl = e.target.result;
                      previewImage.src = imageUrl;
                      previewImage.style.display = "block";
                      console.log(imageUrl);
                    };
                    reader.readAsDataURL(file);
                  });
              })
              .catch((err) => console.log(err));
          });
        }
      };
      const handleDeleteData = (id) => {
        fetch(`${url}/${id}`, {
          method: "DELETE",
        })
          .then((res) => res.json())
          .then((data) => {
            alert("Xóa thành công");
            window.location.reload();
          })
          .catch((err) =>   console.log(err));
      };
    </script>
  </body>

</html>