<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
        >
</head>

<body>
    <div class="container-fluid">
        <div class="navigation">
             <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="logo-slack"></ion-icon>
                        </span>
                        <span class="title">Bee Studio</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/">
                        <span class="icon">
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Trang chủ</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/users">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">Người dùng</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/photos">
                        <span class="icon">
                            <ion-icon name="image-outline"></ion-icon>
                        </span>
                        <span class="title">Ảnh in</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/dress">
                        <span class="icon">
                            <ion-icon name="shirt-outline"></ion-icon>
                        </span>
                        <span class="title">Áo cưới</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="images-outline"></ion-icon>
                        </span>
                        <span class="title">Album ảnh</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/news">
                        <span class="icon">
                            <ion-icon name="newspaper-outline"></ion-icon>
                        </span>
                        <span class="title">Tin tức</span>
                    </a>
                </li>

                <li>
                    <a href="http://localhost:3000/booking">
                        <span class="icon">
                            <ion-icon name="calendar-number-outline"></ion-icon>
                        </span>
                        <span class="title">Đặt lịch</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="videocam-outline"></ion-icon>
                        </span>
                        <span class="title">Video</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                    </label>
                </div>

                <div class="user">
                    <img src="https://glints.com/vn/blog/wp-content/uploads/2022/05/customer-service-la%CC%80-gi%CC%80.jpg" alt="">
                </div>
            </div>
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h1>Quản lý tin tức</h1>
                        <a href="#" class="btn" id = "btn_add">Thêm</a>
                    </div>  
                   <div class="content">
                     <table>
                        <thead>
                            <tr>
                                  <th>STT</th>
                                  <th>Tiêu đề</th>
                                  <th>Nội dung</th>
                                  <th>Hình ảnh</th>
                                  <th>Ngày đăng</th>
                                  <th>Thể loại</th>
                                  <th>Nguồn</th>
                                  <th>View</th>
                                  <th>Hành động</th>
                            </tr>
                        </thead>

                        <tbody id="app">

                        </tbody>
                    </table>
                   </div>
                </div>
                </div> 
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script>

        let toggle = document.querySelector(".toggle");
        let navigation = document.querySelector(".navigation");
        let main = document.querySelector(".main");

        toggle.onclick = function () {
          navigation.classList.toggle("active");
          main.classList.toggle("active");
        };

        const url = "http://localhost:3000/news/data"
        let btn_add = document.querySelector('#btn_add')
        let content = document.querySelector('.content')
        let body = document.querySelector('#app')
        const handleCallData = () => {
            fetch(url).then(res => res.json()).then(renderData).catch(err => console.log(err))
        }

  const renderData = (data) => {
    let htmls = data.map((item, index) => {
      return `
        <tr>
                    <td style="text-align: center">${index + 1}</td>
                    <td style = "max-width: 200px;
                               overflow: hidden;
                               text-align: center;
                               text-overflow: ellipsis;
                               white-space: nowrap;">${item.title}</td>
                    <td style = "max-width: 200px;
                               overflow: hidden;
                               text-align: center;
                               text-overflow: ellipsis;
                               white-space: nowrap;">${item.content} VND</td>
                    <td style="text-align: center"><img class="info" 
                          data-bs-toggle="offcanvas" 
                          data-bs-target="#offcanvasRight" 
                          aria-controls="offcanvasRight" 
                          data-id="${item._id}" src="${
                        item.image ? item.image : "https://png.pngtree.com/png-clipart/20211229/ourmid/pngtree-cartoon-snail-loading-gif-dynamic-diagram-png-image_4144104.png"}" alt="" style="width: 70px; height: 70px; border-radius: 10px;"></td>
                    <td style="text-align: center">${item.date}</td>
                    <td style="text-align: center">${item.category.name ? item.category.name : "Loading"}</td>
                    <td style="text-align: center">${item.source}</td>
                    <td style="text-align: center">${item.quantity_View}</td>
                    <td style="text-align: center">
                        <button class="btn btn-danger btn_delete" data-id="${item._id}">Xóa</button> |
                        <button class="btn btn-primary btn_update" data-id="${item._id}">Sửa</button>
                    </td>
            </tr>
      `;
    });
    body.innerHTML = htmls.join('');
    let btn_delete = document.querySelectorAll('.btn_delete')
    for(const btn of btn_delete){
        btn.addEventListener('click',() => {
            let id = btn.dataset.id
            return confirm("Bạn có chắc chắn muốn xóa bản tin này không ?") ? handleDeleteData(id) : "";
        })
    }
  };
    btn_add.addEventListener('click',() => {
        content.innerHTML = `
             <form id="form-tin-tuc" enctype="multipart/form-data" method="POST">

                <div class="field">
                    <label class="label">Tiêu đề</label>
                        <div class="control">
                            <input class="input is-rounded" name = "title" type="text" placeholder="Rounded input" required />
                        </div>
                </div>

                <div class="field">
                      <label class="label">Nội dung :</label>
                      <div class="control">
                        <textarea class="textarea" name = "content" placeholder="Textarea"></textarea>
                      </div>
                </div>

                 <div class="field">
                      <label class="label">Hình ảnh sản phẩm :</label>
                      <div class="control">
                        <input class="input is-rounded" type="file" name="image" placeholder="Rounded input" />
                      </div>
                </div>

                <div class="select .is-flex .is-flex-direction-row">
                <select id="category" name="category">
                            
                </select>
                </div>
                <button id = "btn_add_category" class="button button is-primary">+</button>
                <div id = "content_add_category" style = "display : flex ;align-items: flex-end"></div>
             <div style = "text-align : center;"><button class = "button is-primary" type="submit" id='btn_submit'>Thêm</button></div>
         </form>
        `

        const selectElement = document.getElementById("category");
        let category_id = "";

        fetch('http://localhost:3000/category')
                        .then(res => res.json())
                        .then((data) => {
                            const options = data.map((item, index) => {
                                return `<option data-id="${item._id}" key="${index}">${item.name}</option>`;
                            }).join("");
                            selectElement.innerHTML = `
                                <option value="">Select category</option>
                                ${options}
                            `;
                        })
                        .catch(err => console.error(err));

        selectElement.addEventListener('change', () => {
                        const selectedOption = selectElement.options[selectElement.selectedIndex];
                        const selectedId = selectedOption.dataset.id;
                        category_id = selectedId;
        });
        const formTinTuc = document.getElementById("form-tin-tuc");
        formTinTuc.addEventListener('submit',(event) => {
            event.preventDefault();

            const formDataNews = new FormData(formTinTuc);
            formDataNews.set('category',category_id);

            fetch('http://localhost:3000/news',{
                method : 'POST',
                body : formDataNews
            }).then(res => res.json()).then(() => {
                alert('Thêm tin tức thành công !')
                window.location.reload();
            }).catch(err => console.log(err))
        })

        btn_add_category.addEventListener('click', (event) => {
    event.preventDefault();
    content_add_category.innerHTML = `
        <form>
            <div class="field m-1" style="width: 70%">
                <label class="label">Tên Thể Loại</label>
                <div class="control">
                    <input class="input is-rounded" name="name" id = "category_name" type="text" placeholder="Tên thể loại" required />
                </div>
            </div>
            <button class="button is-primary" style="height: 43px;" type="submit" id='add_category'>Thêm</button>
        </form>
    `;

    let add_category = document.querySelector('#add_category');
    let category_name = document.querySelector("#category_name")

    add_category.addEventListener("click", (event) => {
        event.preventDefault();        
        let category = {
            name : category_name.value
        }
        console.log(category)

        fetch('http://localhost:3000/category/data', {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(category)
        })
        .then(res => res.json())
        .then(() => {
            content_add_category.innerHTML = ``;
            fetch('http://localhost:3000/category')
                        .then(res => res.json())
                        .then((data) => {
                            const options = data.map((item, index) => {
                                return `<option data-id="${item._id}" key="${index}">${item.name}</option>`;
                            }).join("");
                            selectElement.innerHTML = `
                                <option value="">Select category</option>
                                ${options}
                            `;
                        })
                        .catch(err => console.error(err));
        })
        .catch(err => console.log(err));
        });
});
    })
  handleCallData();
  const handleDeleteData = (id) => {
    fetch(`${url}/${id}`, {
        method: 'DELETE'
    })
    .then(res => {
        if (!res.ok) {
            throw new Error('Có lỗi xảy ra khi xóa bản tin');
        }
        return res.json();
    })
    .then(() => {
        alert("Xóa bản tin thành công");
        window.location.reload()
    })
    .catch(err => {
        console.error(err);
        alert("Đã xảy ra lỗi khi xóa bản tin");
    });
}
</script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>



 {{!-- formDataNews.set('category',category_id);
            console.log("Kiểm tra ID")
            console.log(formDataNews.get('category'))
            fetch('http://localhost:3000/news',{
                method : 'POST',
                headers: {
                    "Content-Type": "application/json"
                },
                body : formDataNews
            }).then(res => res.json()).then(() => {
                alert('Thêm tin tức thành công !')
                window.location.reload();
            }).catch(err => console.log(err)) --}}